.root
  width: 100%
  padding: 14px 16px 16px 16px
  background: var(--main-left-bg)
  color: var(--c-text)
  display: flex
  flex-direction: column
  gap: 10px
  border-radius: 12px
  margin-top: 15px

.head
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

.content
  display: flex
  flex-direction: column
  width: 100%
  gap: 5px

.wrapper__date
  display: flex
  flex-direction: row
  justify-content: flex-end
  font-size: 12px