.wrapper
  position: relative

.wrapper__btn
  display: flex
  width: 100%
  margin-right: 5%
  position: absolute
  height: 100%
  justify-content: center
  align-items: center
  &:hover
    .btn
      display: block

.btn
  display: none
  outline: none
  border: none
  background: red
  color: var(--c-text)
  font-size: 16px
  padding: 10px 20px
  border-radius: 10px