.wrapper
  position: relative
  overflow: hidden
  width: 800px
  height: 450px
  z-index: 1000

.controls
  position: absolute
  display: flex
  justify-content: space-between
  bottom: 3px
  left: 6px
  right: 6px

.progressBarContainer
  position: absolute
  left: 4px
  right: 4px
  bottom: 14px
  background: gray
  height: 10%
  width: calc(100% - 2rem)

.progressBar
  height: 100%
  background: #00C2FF

