body
  transition: color, background-color
  transition: color, background-color, background
  transition-duration: 400ms
*
  font-family: "Lato", Arial, Helvetica, sans-serif
  transition: background-color
  transition: background
  transition-duration: 400ms
  text-decoration-skip-ink: none

body
  --c-text: black
  --c-bg-reg: white

:global(body.darkTheme)
  --c-text: white
  --c-bg-reg: black
